@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');

body {
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
  /* source: webgradients.com */
  color: white;
  font-family: 'Cabin Sketch', cursive, 'sans serif';
}

.header, .footer {
  display: inline;
  overflow-wrap: break-word;
}

.clue-names {
  margin-top: 20px;
}

.footer {}
