@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');

body {
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
  /* source: webgradients.com */
  color: white;
  font-family: 'Pompiere', cursive, 'sans-serif';
}

h1 {
  font-size: 56px;
  font-weight: bolder;
  margin-left: 60px;
  margin-right: 60px;
}

h2 {
  font-size: 40px;
}

.cluenames {
  border: 1px solid #fdffab;
  border-radius: 5px;
  height: 50px;
  width: 120px;
}

#theScore {
  font-family: inherit;
  font-size: 40px;
  font-weight: bolder;
}

.header-button {
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 30px;
  width: 10%;
}

.header-button:hover {
  background-color: #ffcfdf;
}

.header {
  display: inline;
  overflow-wrap: break-word;
}

.cluenames {
  font-size: 36px;
  font-weight: bolder;
  margin-top: 20px;
}

/* modal */
.modal-content {
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
  /* source: webgradients.com */
  border-radius: 10px;
  overflow: hidden;
}

.modal-title {
  font-size: 36px;
  font-weight: bolder;
  margin: 0 auto;
}

#points {
  color: black;
  text-align: center;
}

h4 {
  color: black;
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
}

#answer1, #answer2, #answer3, #answer4 {
  background-color: #ffcfdf;
  border: 1px solid white;
  color: black;
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 10px;
}

#answer1:hover, #answer2:hover, #answer3:hover, #answer4:hover {
  background-color: #fdffab;
}

/* .clue-button {
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  width: 65%;
}

.clue-button:hover {
  background-color: #fdffab;
} */
